* {
    padding: 0;
    margin: 0;
}

body {}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    line-height: 75px;
    padding: 1% 5%;
    background-color: black;

}

nav img {

    width: 200px;
}

nav ul li {
    float: left;
    list-style: none;


}

nav ul li a {

    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 15px;
    padding: 0px 16px;
    display: block;
}

ul button .fa-magnifying-glass {
    font-size: 20px;
    color: white;

    background-color: white;
}

nav ul li a:hover {
    color: chartreuse;
}

/* -------container-1-------- */

.container-1 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* float: left; */
    padding: 15%;

    background-image: url(slider\ image.jpg);
    background-repeat: no-repeat;
}

.home-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #3A3A3A;

}

.home-page h1 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

.home-page p {
    font-size: 18px;
    color: white;

}

.home-page button {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    background-color: chartreuse;
    border: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.home-page button:hover {
    background-color: black;
    color: chartreuse;
}

/* ---------container-2-------- */

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}



.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;



}

.section-2-left-part {
    width: 400px;
}

.section-6-left-part img {
    width: 500px;

}

.section-6-left-part img:hover {
    /* transform: scale(1.05);
    /* transition: transform 0.3s ease-in-out; * */
}

.section-6-left-part img {
    transition: transform 0.3s ease-in-out;
}

.section-2-right-part {
    width: 400px;
}

.section-2-right-part p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;

}

.section-5 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;




}

.about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 50px;
    line-height: 54px;
    color: #151515;
    margin-top: 5%;
}

.section-4 {
    padding-bottom: 105px;
}

.section-4-4-description {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    font-size: 55px;
    color: black;

}


a.link-button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    background-color: chartreuse;
    border: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}

/* <!-- -------container-3------- --> */

.container-3 {
    background-color: #000000ec;


}



.section-3-4-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}



.section-3-left-part img {
    width: 750px;

}



.section-3-4-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 54px;
    color: white;


}

.section-3-4-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: white;
    padding-bottom: 35px;


}

a.link-button {

    text-decoration: none;
    color: black;
    background-color: chartreuse;
    font-size: 13px;
    padding: 19px 33.5px;
    font-family: 'Montserrat', sans-serif;


}

/* <!-- ----------container-4--------- --> */

.container-4 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5%;

}

.write-part h2 {
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    line-height: 100px;

}

.write-part p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

/* -------container-5----- */

.container-5 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

.box-1-left-part img {
    width: 500px;

}

.box-2-right-part .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
}

.box-2-right-part .description {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
   
}



.box-2-right-part ul li {
    list-style: none;
    padding: 5px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
   

}

.box-2-right-part ul li {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
   
}
/* --------container-6------- */
